<footer class="blue accent-2">
    <div class="container">  
      <div class="row">  
        <div class="col l6 s12">  
          <h5 class="white-text">MisionTIC</h5>  
          <p class="white-text">Equipo 30 - Grupo 1</p>  
        </div>  
        <div class="col l4 offset-l2 s12">  
          <h5 class="white-text">Miembros de equipo</h5>  
          <ul>  
            <li><a class="white-text" href="#!">Angie Ordoñez</a></li>
            <li><a class="white-text" href="#!">Paula Alfonso</a></li>
            <li><a class="white-text" href="#!">Jose Amado</a></li>  
            <li><a class="white-text" href="#!">Oscar Fonseca</a></li>              
          </ul>  
        </div>  
      </div>  
    </div>  
    <div class="footer-copyright">  
      <div class="container">  
      © 2014 Copyright Text  
      <a class="grey-text text-lighten-4 right" href="#!">More Links</a>  
      </div>  
    </div>
  </footer>